<%- include('./partials/header') %>

<main>
    
    
    

    <article class="poll-container">
        <form method="POST" action="/">
            <% const pourcentA = 404 %>
            <% const pourcentB = 0 %>
        <div class="poll-header">                
            <h2 class="poll-header-title">Where Am I?</h2>
            <p class="poll-header-author">John Doe</p>
        </div>
        <p class="poll-question">Are you lost?</p>
        
            <div class="poll-wrapper">
                <input class="poll-wrapper-checkbox" type="checkbox" id="first" name="choice" value="result_a">
                <div class="poll-progressbar-wrapper">
                    <div class="poll-progressbar" style="width: <%=pourcentA%>%" title="first_choice">
                        <p class="poll-progressbar">Yes</p>
                    </div>
                </div>
                <span class="poll-progressbar-pourcent"><%=pourcentA%>%</span>
            </div>
            <div class="poll-wrapper">
                <input class="poll-wrapper-checkbox" type="checkbox" id="second" name="choice" value="result_b">          
                <div class="poll-progressbar-wrapper">
                    <div class="poll-progressbar" style="width: <%=pourcentB%>%" title="second_choice" >
                        <p>No</p>
                    </div>
                </div>
                <span class="poll-progressbar-pourcent"><%=pourcentB%>%</span>
            </div>               
        <div class="poll-footer">
            <div class="poll-footer-share">
                <img class="share-button" src="/images/share.svg" alt="">
                <span class="coming-soon"></span>
                <input type="hidden" id="id" name="id" value="<%=404%>">
            </div>                              
            <p class="poll-footer-vote">404votes</p>
        </div>
    </form>
    </article>
    
    <!-- POP UP FOR THE SIGN UP FORM -->
    <%- include('partials/signup.ejs') %>

    <!-- POP UP FOR THE CONNECT FORM -->
    <%- include('partials/connect.ejs') %>

    <!-- POP UP FOR THE CREATE FORM -->

    
</main>


<%- include('partials/footer.ejs') %>
