<%- include('./partials/header') %>


    <h1 class="admin-page-title" style="display: block; justify-content: none; text-align: ;">Bienvenue sur le Tableau de controle de Poll</h1>

<section class="admin-page">
    <form class="admin-form-user" action='/dashboard' method='post'>
        <label class="admin-selection-title" for="selectUser">Choice User :</label>
        <select name="selectUser" id="selectUser">
            <option value="">Select User</option>
            <% for(user of users) {%>
                <option value="<%= user.id %>"><%= user.pseudo %></option>
            <% } %>
        </select>
        
        <label class="admin-selection-title" for="selectRole">Choice Role :</label>
        <select name="selectRole" id="selectRole">
            <option value="">Select Role</option>
            <option value="admin">Admin</option>
            <option value="member">User</option>
        </select>
        <div class="admin-form-validation">
            <button class="article-button" type="submit">Validate</button>
            <h2 style="color:green">
                <% if(locals.message1) { %>
                <p><%= message1 %></p>
                <% } %>
            </h2>
        </div>
    </form>

    <form class="admin-form-poll" action='/pollDelete' method='post'>
        <label class="admin-selection-title" for="selectUser">Choice poll</label>
        <select name="selectPoll" id="selectPoll">
            <option value="">Select Poll</option>
            <% for(poll of locals.polls) {%>
                <option value="<%= poll.id %>"><%= poll.question %></option>
            <% } %>
        </select>
        <div class="admin-form-validation">
            <button class="article-button" type="submit">Delete</button>
            <h2 style="color: green;"><% if(locals.message2) { %>
                <p><%= message2 %></p>
            <% } %>
            </h2>
        </div>
    </form>

</section>



