<%- include('./partials/header') %>
<h2 class="category-title">Most Popular</h2>
<main>
      
    <h1>Bienvenue sur le Tableau de controle de Poll</h1>

    <form action='' method='post'>
        <select name="myselectbox">
        <% for(user of users) {%>
         <option name="<%= user.pseudo %>" value="<%= user.id %>"><%= user.pseudo %></option>
          <% } %>
         <input type='submit' value='submit'/>
    </form>
    
    <!-- POP UP FOR THE SIGN UP FORM -->
    <%- include('partials/signup.ejs') %>

    <!-- POP UP FOR THE CONNECT FORM -->
    <%- include('partials/connect.ejs') %>
   
</main>


