<%- include('./partials/header') %>
   
        <h1 class="category-title">Most Popular</h1>
        <main>
          <% for(const poll of polls) { %>
            <article>
                <div class="poll">
                    <h2><%= poll.title %></h2>
                    <p classname="author"><%= poll.author %></p>
                </div>
                <p><%= poll.question %></p>
                <section class="polls">
                    <div class="wrapper-all-progress">
                        
                        <input class="validatePoll" type="checkbox" name="choice" id="first">
                        <div class="progressbar-wrapper">
                            <div style="width: <%=poll.first_result%>%" title="first_choice" class="progressbar">
                                <p><%= poll.choice_a %></p>
                            </div>
                        </div>
                        <span class="choice"><%= poll.first_result%>%</span>
                    </div>
                    <div class="wrapper-all-progress">
                        <input class="validatePoll" type="checkbox" name="choice" id="second">
                        <div class="progressbar-wrapper">
                            
                            <div style="width: <%=poll.second_result%>%" title="second_choice" class="progressbar">
                                <p><%= poll.choice_b %></p>
                            </div>
                        </div>
                        <span><%= poll.second_result%>%</span>
                    </div>
                </section>
                <div class="footer-article">
                    <div class="share">
                        <img class="share-button" src="/images/share.svg" alt=""><span class="coming-soon"></span>
                        <!-- <img src="/images/messenger.png" alt="">
                        <img src="/images/twitter.png" alt="">
                        <img src="/images/twitch.png" alt="">
                        <img src="/images/discord.png" alt=""> -->
                    </div>
                    <p>2456 votes</p>
                    <button class="article-button" type="submit">Validate</button>
                </div>
            </article>
           
      <% } %> 
      <section class="sign-up form">
        <span class="to-close">x</span>
        
            <h1>Inscription Form</h1>
            <form action="" method="POST">
            <ul>
                <li><input placeholder="Pseudo" type="text"></li>
                <li><input placeholder="E-mail" type="text"></li>
                <li><input placeholder="Password" type="text"></input></li>
            </ul>
            <ul class="conditions">
                <li><input class="private" type="checkbox">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
                <li><input class="private" type="checkbox">Lorem ipsum dolor sit amet consectetur.</li>
            </ul>
            <button type="submit">Validate</button>
        </form>
    </section>
    <section class="connect form">
        <span class="to-close-connect">x</span>
        
            <h1>Connect Form</h1>
            <form action="" method="POST">
            <ul>
                <li><input placeholder="Pseudo" type="text"></li>
                <li><input placeholder="Password" type="text"></input></li>
            </ul>
            <button type="submit">Connect</button>
        </form>
    </section>
    </main>

   
    <%- include('./partials/footer') %>   