<%- include('./partials/header') %>
<h2 class="category-title">Popular</h2>
<main>
<% if(locals.errorMessage) { %>
    <p><%= errorMessage %></p>
    <% } %>

    
<% for(const poll of polls) { %>
    <article class="poll-container">
        <div class="poll-header">
            <h2 class="poll-header-title"><%= poll.title %></h2>
            <p class="poll-header-author"><%= poll.author.pseudo %></p>
        </div>
        <p class="poll-question"><%= poll.question %></p>
        <section class="poll-wrappers">
            <div class="poll-wrapper">
                <input class="poll-wrapper-checkbox" type="checkbox" id="first" name="choice" value="result_a">
                <div class="poll-progressbar-wrapper">
                    <div class="poll-progressbar" style="width: <%=poll.result_a%>%" title="first_choice">
                        <p class="poll-progressbar"><%= poll.choice_a %></p>
                    </div>
                </div>
                <span class="poll-progressbar-pourcent"><%= poll.result_a%>%</span>
            </div>
            <div class="poll-wrapper">
                <input class="poll-wrapper-checkbox" type="checkbox" id="second" name="choice" value="result_b">          
                <div class="poll-progressbar-wrapper">
                    <div class="poll-progressbar" style="width: <%=poll.result_b%>%" title="second_choice" >
                        <p><%= poll.choice_b %></p>
                    </div>
                </div>
                <span class="poll-progressbar-pourcent"><%= poll.result_b%>%</span>
            </div>               
        </section>
        <div class="poll-footer">
            <div class="poll-footer-share">
                <img class="share-button" src="/images/share.svg" alt="">
                <span class="coming-soon"></span>
                <input type="hidden" id="id" name="id" value="<%=poll.id%>">
            </div>
            <p class="poll-footer-vote">2456 votes</p>
            <button class="article-button" type="submit">Validate</button>
        </div>
    </article>

<% } %> 

    <!-- POP UP FOR THE SIGN UP FORM -->
    <section class="sign-up form">
    <span class="to-close">x</span>
    <h1>Inscription Form</h1>
        <form action="" method="POST">
            <ul>
                <li><input placeholder="Prénom" type="text"></li>
                <li><input placeholder="Nom" type="text"></li>
                <li><input placeholder="Pseudo" type="text"></li>
                <li><input placeholder="E-mail" type="text"></li>
                <li><input placeholder="Password" type="text"></li>
            </ul>
            <ul class="conditions">
                <li><input class="private" type="checkbox">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
                <li><input class="private" type="checkbox">Lorem ipsum dolor sit amet consectetur.</li>
            </ul>
            <button type="submit">Validate</button>
        </form>
    </section>

    <!-- POP UP FOR THE CONNECT FORM -->

    <section class="connect form">
        <span class="to-close-connect">x</span>
        <h1>Connect Form</h1>
        <form action="" method="POST">
            <ul>
                <li><input placeholder="Pseudo" type="text"></li>
                <li><input placeholder="Password" type="text"></li>
            </ul>
            <button type="submit">Connect</button>
        </form>
    </section>

    <!-- POP UP FOR THE CREATE FORM -->

    <section class="create form">
        <span class="to-close-create">x</span>
        <h1>Create a poll</h1>
                <form action="" method="POST">
                    <ul>
                        <li><input placeholder="Title of your poll" type="text"></li>
                        <li><input placeholder="The question of your poll" type="text"></li>
                        <li><input placeholder="First choice" type="text"></li>
                        <li><input placeholder="Second choice" type="text"></li>
                    </ul>
                    <button type="submit">Validate</button>
                </form>
    </section>
</main>


<%- include('./partials/footer') %>   