<%- include('./partials/header') %>

    <!-- POP UP FOR THE SIGN UP FORM -->
    <%- include('partials/signup.ejs') %>

    <!-- POP UP FOR THE CONNECT FORM -->
    <%- include('partials/connect.ejs') %>

    <!-- POP UP FOR THE CREATE FORM -->
    <%- include('partials/create.ejs') %>
</main>

<%- include('./partials/footer') %>   
