<%- include('./partials/header') %>

<select class="poll-category-select">
    <option value="category">Category</option>
    <option value="1">Amour</option>
    <option value="2">Argent</option>
    <option value="3">Art</option>
    <option value="4">Au quotidien</option>
    <option value="5">Automobile</option>
    <option value="6">Bricolage</option>
    <option value="7">Cinéma</option>
    <option value="8">Culture</option>
    <option value="9">Écologie</option>
    <option value="10">Espace</option>
    <option value="11">Études</option>
    <option value="12">Gastronomie</option>
    <option value="13">Géographie</option>
    <option value="14">Grammaire</option>
    <option value="15">Humour</option>
    <option value="16">Jardinage</option>
    <option value="17">Jeux</option>
    <option value="18">Marques</option>
    <option value="19">Musique</option>
    <option value="20">Nature</option>
    <option value="21">Philosophie</option>
    <option value="22">Politique</option>
    <option value="23">Sciences</option>
    <option value="24">Sexualité</option>
    <option value="25">Sport</option>
    <option value="26">Technologie</option>
    <option value="27">Top</option>
    <option value="28">Transport</option>
    <option value="29">Travail</option>
    <option value="30">Voyages</option>
</select>

<article class="category-page ">
    
    <section class="poll-category-list  horizontal-scroll">
        <li value="1">Amour</li>
        <li value="2">Argent</li>
        <li value="3">Art</li>
        <li value="4">Au quotidien</li>
        <li value="5">Automobile</li>
        <li value="6">Bricolage</li>
        <li value="7">Cinéma</li>
        <li value="8">Culture</li>
        <li value="9">Écologie</li>
        <li value="10">Espace</li>
        <li value="11">Études</li>
        <li value="12">Gastronomie</li>
        <li value="13">Géographie</li>
        <li value="14">Grammaire</li>
        <li value="15">Humour</li>
        <li value="16">Jardinage</li>
        <li value="17">Jeux</li>
        <li value="18">Marques</li>
        <li value="19">Musique</li>
        <li value="20">Nature</li>
        <li value="21">Philosophie</li>
        <li value="22">Politique</li>
        <li value="23">Sciences</li>
        <li value="24">Sexualité</li>
        <li value="25">Sport</li>
        <li value="26">Technologie</li>
        <li value="27">Top</li>
        <li value="28">Transport</li>
        <li value="29">Travail</li>
        <li value="30">Voyages</li>
    </section>
  
    <%- include('partials/categories.ejs') %>
</article>
    <!-- POP UP FOR THE CATEGORY SECTION -->

    <!-- POP UP FOR THE SIGN UP FORM -->
    <%- include('partials/signup.ejs') %>

    <!-- POP UP FOR THE CONNECT FORM -->
    <%- include('partials/connect.ejs') %>

    <!-- POP UP FOR THE CREATE FORM -->
    <%- include('partials/create.ejs') %>

<%- include('./partials/footer') %>   
