<section class="create-container form-container">
    <h1 class="create-form-title">Create your poll</h1>
    <span class="form-button-close create-close">x</span>
    <article class="create-poll-container">
        <form method="POST" action="/create">
            <% const pourcentA = 0 %>
            <% const pourcentB = 0 %>
            <div class="poll-header">
                <select name="tag_id" class="create-category-select">                           
                   <%for(const category of categories) { %> 
                   <option value="<%= category.id %>"><%= category.name %></option>
                    <% } %>
                </select> 
                <!-- <input class="create-input create-input-title" placeholder="Your Title" type="text" name="title" id="title-create" > -->
            </div>
            <input class="create-input create-input-question" placeholder="Your Question" type="text" name="question" id="question-create" autofocus>
          
            <div class="poll-wrapper">
                <div class="poll-progressbar-wrapper">
                    <div class="poll-progressbar" style="width: <%=pourcentA%>%" title="first_choice">
                        <input class="create-input create-input-choice" placeholder="Your First Choice" type="text" name="choice_a" id="first-create">
                    </div>
                </div>
                <span class="poll-progressbar-pourcent"><%=pourcentA%>%</span>
            </div>
            <div class="poll-wrapper">      
                <div class="poll-progressbar-wrapper">
                    <div class="poll-progressbar" style="width: <%=pourcentB%>%" title="second_choice" >
                        <input class="create-input create-input-choice" placeholder="Your Second Choice" type="text" name="choice_b" id="second-create" value="">
                    </div>
                </div>
                <span class="poll-progressbar-pourcent"><%=pourcentB%>%</span>
            </div>              
            <input type="hidden" text="text" name="user_id" id="id" value="<%=locals.userId %>">            
            <div class="poll-footer poll-footer-create">
                    <span class="create-poll-counter"> <%= locals.totalPoll %> polls already created and <%= totalVote %> votes</span>
                    <% if (locals.user) { %>                             
                        <button class="article-button" type="submit">Validate</button>
                    <% } %> 
            </div> 
           
            <% if (!locals.user) { %>
                <p class="create-form-warning">You need to sign up before creating a poll</p>
            <% } %>
        </form>
    </article>
   
</section>