<section class="create-container form-container">
    <h1 class="create-form-title">Create your poll</h1>
    <span class="form-button-close create-close">x</span>
    <article class="create-poll-container">
        <form method="POST" action="/">
            <% const pourcentA = 0 %>
            <% const pourcentB = 0 %>
            <div class="poll-header"> 
                <input class="create-input create-input-title" placeholder="Your Title" type="text" name="create-title" id="">
            </div>
            <input class="create-input create-input-question" placeholder="Your Question" type="text" name="create-question" id="" autofocus>
            <div class="poll-wrapper">
                <div class="poll-progressbar-wrapper">
                    <div class="poll-progressbar" style="width: <%=pourcentA%>%" title="first_choice">
                        <input class="create-input create-input-choice" placeholder="Your First Choice" type="text" name="create-first-choice" id="">
                    </div>
                </div>
                <span class="poll-progressbar-pourcent"><%=pourcentA%>%</span>
            </div>
            <div class="poll-wrapper">      
                <div class="poll-progressbar-wrapper">
                    <div class="poll-progressbar" style="width: <%=pourcentB%>%" title="second_choice" >
                        <input class="create-input create-input-choice" placeholder="Your Second Choice" type="text" name="create-second-choice" id="">
                    </div>
                </div>
                <span class="poll-progressbar-pourcent"><%=pourcentB%>%</span>
            </div>               
            <div class="poll-footer">
                <div class="poll-footer-share">
                    <img class="share-button" src="/images/share.svg" alt="">
                    <span class="create-poll-counter">polls already created</span>
                    <input type="hidden" id="id" name="id" value="<%=404%>">
                </div> 
                <% if (locals.user) { %>                             
                <button class="article-button" type="submit">Validate</button>
                <% } %>
            </div>
        </form>
    </article>
    <% if (!locals.user) { %>
    <p class="create-form-warning">You need to sign up before creating a poll</p>
    <% } %>
</section>